﻿@model ArtifiConnector.Data.Models.ApplicationConfiguration

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}

<script type="text/javascript">

    function saveConfiguration() {

        var json = $('form').serializeObject();
        json.MerchantId = @Session["merchantId"]
        $.ajax({
            url: '/artificonnector/api/configuration/application',
            method: "POST",
            data: JSON.stringify(json),
        }).done(function() {
            configurationController.showSuccessBox("Application configuration has been updated.");
        }).fail(function(){
            configurationController.showFailBox("During application configuration save error has occured.");
        });

        return false;
    }

</script>

<div class="container">
    <div class="page-header">
        <h1>Application Configuration</h1>
    </div>

    <form onsubmit="return saveConfiguration()">
        <div class="form-group">
            <h3>General Application Configuration</h3>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.WebsiteId)
            @Html.TextBoxFor(x => x.WebsiteId, new { @class = "form-control", placeholder = "Please type your website id" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.WebApiClientKey)
            @Html.TextBoxFor(x => x.WebApiClientKey, new { @class = "form-control", placeholder = "Please type your web api client key" })
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </form>
</div>
