﻿@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <div class="jumbotron">
        <h1>Check our new features!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <p class="lead">Welcome in BigCommerce Artifi Connector configuration.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>