﻿@model IList<ArtifiConnector.Data.Models.DesignConfiguration>

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}

<script type="text/javascript">

    function saveConfiguration() {

        var array = $('form').serializeDesignConfiguration();

        var json = {array:array, merchantId:@Session["merchantId"] };

        $.ajax({
            url: '/artificonnector/api/configuration/design',
            method: "POST",
            data: JSON.stringify(json),
        }).done(function() {
            configurationController.showSuccessBox("Design configuration has been updated.");
        }).fail(function(){
            configurationController.showFailBox("During design configuration save error has occured.");
        });

        return false;
    }

</script>

<div class="container">
    <div class="page-header">
        <h1>Design Configuration</h1>
    </div>

    <form onsubmit="return saveConfiguration()">
        <div class="form-group">
            <h3>Buttons Design Configuration</h3>
        </div>
        <div class="form-group">
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(x => x[i].Id)
                @Html.LabelFor(x => x[i].DisplayName)
                @Html.TextBoxFor(x => x[i].Value, new { @class = "form-control", placeholder = $"Please type your { Model[i].DisplayName.ToLower()}" })
            }
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </form>

</div>