﻿@model ArtifiConnector.ViewModels.InstallationViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BigCommerce Artifi Connector Installation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/artifi")
    @Styles.Render("~/content/normalize")
    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/content/main")

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BigCommerce Artifi Connector</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Installation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <h1>Installation</h1>
        </div>
        <p class="lead">Welcome in BigCommerce Artifi Connector installation guide.</p>
        <p>
            Please follow carefully steps presented in slides below below.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </p>

        <div id="installation-slides" class="carousel slide" data-ride="carousel"
             data-interval="false" data-keyboard="false">
            <ol class="carousel-indicators">
                <li data-target="#installation-slides" data-slide-to="0" class="active"></li>
                <li data-target="#installation-slides" data-slide-to="1"></li>
                <li data-target="#installation-slides" data-slide-to="2"></li>
                <li data-target="#installation-slides" data-slide-to="3"></li>
                <li data-target="#installation-slides" data-slide-to="4"></li>
                <li data-target="#installation-slides" data-slide-to="5"></li>
                <li data-target="#installation-slides" data-slide-to="6"></li>
                <li data-target="#installation-slides" data-slide-to="7"></li>
                <li data-target="#installation-slides" data-slide-to="8"></li>
                <li data-target="#installation-slides" data-slide-to="9"></li>
                <li data-target="#installation-slides" data-slide-to="10"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-caption">
                        <h3>Step 1. Introduction.</h3>
                        <p>
                            In order to install properly Artifi Connector application
                            we will have to edit few template files. In each
                            installation slide where we will have to do it, there
                            will url presented, which we have to copy and paste
                            after <strong>.com</strong> part being in our admin panel.
                            <br><br>
                            <strong>For example let's assume that our url looks like:</strong>
                            <br>
                            https://store-0r2kcl1x.mybigcommerce.com/manage/storefront-manager/carousel
                            <br><br>
                            <strong>And url to paste in our installation step looks like:</strong>
                            <br>
                            /admin/designmode.php?ToDo=editFile&File=Panels/HTMLHead.html
                            <br><br>
                            <strong>Let's make that finally it will look like:</strong>
                            <br>
                            https://store-0r2kcl1x.mybigcommerce.com/admin/designmode.php?ToDo=editFile&File=Panels/HTMLHead.html
                            <br><br>
                            In result we will see template file editor where
                            we will apply changes.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 2. Including external javascript files.</h3>
                        <p>
                            In this step we have to include our main javascript file.
                            In order to do that we have to edit header template
                            file by using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Panels/HTMLHead.html
                            <br><br>
                            On the end of the file, before:
                            <pre>&lt;/head&gt;</pre>
                            We have to paste codes which are presented below:
                            <pre>&lt;script src="https://integrationdesigner.artifi.net/script/sasintegration/artifiintegration.js"&gt;&lt;/script&gt;</pre>
                            <pre>&lt;script src="@Model.JavaScriptLibraryLink"&gt;&lt;/script&gt;</pre>
                            <pre>&lt;script&gt;BigCommerceArtifi.Customer.init('%%GLOBAL_CurrentCustomerEmail%%');&lt;/script&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 3. Product page modification.</h3>
                        <p>
                            In this step we have to modify product page template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Panels/ProductDetails.html
                            <br><br>
                            On the end of the file, we have to paste codes which are presented below:
                            <pre>&lt;script type="text/javascript"&gt;//&lt;![CDATA[
BigCommerceArtifi.ProductPage.init({'productId':'%%GLOBAL_ProductId%%','customerEmail':'%%GLOBAL_CurrentCustomerEmail%%'});
//]]&gt;&lt;/script&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 4. Cart page modification.</h3>
                        <p>
                            In this step we have to modify product page template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Panels/CartContent.html
                            <br><br>
                            On the end of the file, we have to paste codes which are presented below:
                            <pre>&lt;script type="text/javascript"&gt;//&lt;![CDATA[
BigCommerceArtifi.CartPage.init();
//]]&gt;&lt;/script&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 5. Cart page modification, part 2.</h3>
                        <p>
                            In this step we have to modify cart item template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Snippets/CartItem.html
                            <br><br>
                            We have to replace line which contains:
                            <pre>&lt;tr&gt;</pre>
                            <br><br>
                            With content below:
                            <pre>&lt;tr data-cart-item-id="%%GLOBAL_CartItemId%%" data-product-id="%%GLOBAL_ProductId%%" data-product-sku="%%GLOBAL_ProductSku%%" data-product-link="%%GLOBAL_ProductLink%%"&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 6. Customer order page modification, part 1.</h3>
                        <p>
                            In this step we have to modify customer order page template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Panels/AccountOrder.html
                            <br><br>
                            On the end of the file, we have to paste codes which are presented below:
                            <pre>&lt;script type="text/javascript"&gt;//&lt;![CDATA[
BigCommerceArtifi.CustomerOrder.init();
//]]&gt;&lt;/script&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 7. Customer order page modification, part 2.</h3>
                        <p>
                            In this step we have to modify customer order item template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Snippets/AccountOrderItemRow.html
                            <br><br>
                            We have to replace line which contains:
                            <pre>&lt;tr&gt;</pre>
                            <br><br>
                            With content below:
                            <pre>&lt;tr data-order-item-id="%%GLOBAL_OrderProductId%%" data-product-link="%%GLOBAL_Link%%"&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 8. Customer saved designs page creation, part 1.</h3>
                        <p>
                            In this step we have to modify customer dashboard side menu template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=Panels/SideAccountMenu.html
                            <br><br>
                            One line above:
                            <pre>&lt;/ul&gt;</pre>
                            <br><br>
                            Please paste:
                            <pre>&lt;li&gt;&lt;a href="%%GLOBAL_ShopPath%%/saved-designs/"&gt;Saved Designs&lt;/a&gt;&lt;/li&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 9. Customer saved designs page creation, part 2.</h3>
                        <p>
                            In this step we have to modify customer dashboard menu template.
                            Let's edit it using following url:
                            <br><br>
                            /admin/designmode.php?ToDo=editFile&File=account.html
                            <br><br>
                            One line above:
                            <pre>&lt;/ul&gt;</pre>
                            <br><br>
                            Please paste:
                            <pre>&lt;li&gt;
    &lt;h4&gt;&lt;a href="%%GLOBAL_ShopPath%%/saved-designs/"&gt;Saved Designs&lt;/a&gt;&lt;/h4&gt;
    &lt;p&gt;See a list of your Artifi saved designs.&lt;/p&gt;
&lt;/li&gt;</pre>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>Step 10. Customer saved designs page creation, part 3.</h3>
                        <p>
                            In admin panel please go to "Storefront Content" -> "Web Pages",
                            then please click on "Create a Web Page" button.
                            <br><br>
                            Please fill / select values like:
                            <br>
                            - Page Name: Saved Designs
                            <br>
                            - Page URL: /saved-designs/
                            <br>
                            - Page Content:
                            <br>
                            - Navigation Menu: Unchecked
                            <br>
                            - Page Title: Saved Designs
                            <br>
                            - Restrict to Customers Only: Checked
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <h3>We almost finished...</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.
                        </p>
                        <button type="button" class="btn btn-lg btn-success" onclick="location.href='@Url.Action("SetConfigured", "BigCommerce")'">Go To Application Configuration</button>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#installation-slides"
               role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#installation-slides"
               role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="progress-container">
            <p>Installation progress:</p>
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"
                     role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%">
                    <span class="sr-only">0% Complete</span>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">BigCommerce Artifi Connector.</p>
        </div>
    </footer>
    <script>window.jQuery || document.write('@HttpUtility.JavaScriptStringEncode(Scripts.Render("~/bundles/jquery").ToString())')</script>
    <script type="text/javascript">Artifi.InstallationGuide.init();</script>

</body>
</html>