﻿@model ArtifiConnector.ViewModels.ProductsConfigurationViewModel

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}

@functions {
    public string GetParametrizedUrl(string url)
    {
        if (string.IsNullOrWhiteSpace(Model.Keyword))
            return url;

        return url + "?keyword=" + Model.Keyword;
    }
}

@section Scripts
{
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/dataTablesBootstrap")
    @Styles.Render("~/content/dataTablesArtifi")

    <script type="text/javascript">

        var label = "@Model.ButtonLabel";

        var table = null;

        function initializeDataTable(count,data)        {
            table = $('#productsTable').DataTable({
                "processing":true,
                "serverSide": true,
                "deferLoading": count,
                "pageLength":20,
                "ajax": {
                    "url": '@GetParametrizedUrl("/artificonnector/api/products")',
                    "headers":{"authorization": @Session["merchantId"]},
                    "data" : function(d){
                        var page = (d.start/d.length)+1;
                        d.page = page;
                    }
                },
                "data":data,
                "language": {
                    "paginate": {
                        "next": "&raquo;",
                        "previous": "&laquo;"
                    }
                },
                "dom":  "<'row'<'col-sm-6'><'col-sm-6'l>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'p><'col-sm-7'i>>",
                "ordering": false,
                "info": false,
                "columns": [
                    {
                        "data": null,
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "data": "Sku",
                        "title": "Product SKU"
                    },
                    {
                        "data": "Name",
                        "title": "Product Name"
                    },
                    {
                        "data": null,
                        "title": "Action"
                    },
                    {
                        "data": "IsSet",
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "data": "Id",
                        "visible": false,
                        "searchable": false
                    },
                ],
                "columnDefs": [{
                    "render": function (data, type, row) {
                        var labelText = "";
                        var buttonStyle= "";
                        if (data["IsSet"]) {
                            labelText = "Unset As " + label;
                            buttonStyle = "btn-success";
                        }
                        else {
                            labelText = "Set As " + label;
                            buttonStyle = "btn-default";
                        }
                        return "<a id='link" + data["Id"] + "' class='btn "+buttonStyle+"' role='button' onclick='changeTitle(" + data["Id"] + ", &quot;" + data["Name"] + "&quot;, &quot;" + data["Sku"] + "&quot;, this);'>" + labelText + "</a>";
                    },
                    "targets": 3
                }]
            });
        }

        $(document).ready(function () {

            showLoading();

            $.ajax({
                url: '@GetParametrizedUrl("/artificonnector/api/products/count")',
                headers:{"authorization": @Session["merchantId"]},
                method: "GET"
            }).done(function (countResult){
                var count = countResult.count;

                $.ajax({
                    url: '@GetParametrizedUrl("/artificonnector/api/products")',
                    headers:{"authorization": @Session["merchantId"]},
                    method: "GET",
                }).done(function(result) {
                    if(result!=null)
                        initializeDataTable(count, result.data);
                    hideLoading();
                }).fail(function(data) {
                    hideLoading();
                });
            });
        });

        function changeTitle(id, name, sku, button) {
            if (button.text === "Set As " + label) {
                addProduct(id, name, sku, button);
            }
            else {
                deleteProduct(id, name, sku, button);
            }
        }

        function addProduct(id, name, sku, button) {
            showLoading();

            var json = { id:id, sku:sku, merchantId : @Session["merchantId"] };
            var link = $("#link" + id);

            $.ajax({
                url: '/artificonnector/api/products',
                method: "POST",
                data: JSON.stringify(json)
            }).done(function() {
                configurationController.showSuccessBox("Product " + name + " has been added.");
                hideLoading();
                button.text = "Unset As " + label;
                link.removeClass("btn-default").addClass("btn-success");
            }).fail(function(){
                configurationController.showFailBox("During product add error has occured.");
                hideLoading();
            });
        }

        function deleteProduct(id, name, sku, button) {
            showLoading();

            var json = { id:id, sku:sku, merchantId : @Session["merchantId"] };
            var link = $("#link" + id);

            $.ajax({
                url: '/artificonnector/api/products',
                method: "DELETE",
                data: JSON.stringify(json)
            }).done(function() {
                configurationController.showSuccessBox("Product " + name + " has been deleted.");
                hideLoading();
                button.text = "Set As " + label;
                link.removeClass("btn-success").addClass("btn-default");
            }).fail(function(){
                configurationController.showFailBox("During product delete error has occured.");
                hideLoading();
            });
        }

        function showLoading(){
            $("#productsTable").hide();
            $("#productsTableSearch").hide();
            $("#loader").show();
        }

        function hideLoading(){
            $("#loader").hide();
            $("#productsTable").show();
            $("#productsTableSearch").show();
        }
    </script>
}

<div class="container">
    <div class="page-header">
        <h1>Products Configuration</h1>
    </div>
    <img id="loader" src="~/images/loading_icon_photo.gif" style="display: block;margin: 0 auto;">

    <div id="productsTableSearch" class="container-fluid search-products">

        @using (Html.BeginForm("ProductsConfiguration", "BigCommerce", FormMethod.Get, new { @class = "form-inline" }))
            {
            <div class="form-group">
                @Html.TextBoxFor(x => x.Keyword, new { @class = "form-control", placehold = "Search products by name / sku" })
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        }
    </div>

    <table id="productsTable" class="table table-striped dt-responsive" style="display:none; width:100%">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Id</th>
                <th>Sku</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>