﻿@using ArtifiConnector.Extensions;

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BigCommerce Artifi Connector Installation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/artifi")
    @Scripts.Render("~/bundles/configurationController")
    @Styles.Render("~/content/normalize")
    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/content/main")

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BigCommerce Artifi Connector</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.ActiveIf("Dashboard")">@Html.ActionLink("Dashboard", "Dashboard", "BigCommerce")</li>
                    <li class="@Html.ActiveIf("ApplicationConfiguration")">@Html.ActionLink("Application Configuration", "ApplicationConfiguration")</li>
                    <li class="@Html.ActiveIf("ProductsConfiguration")">@Html.ActionLink("Products Configuration", "ProductsConfiguration", "BigCommerce")</li>
                    <li class="@Html.ActiveIf("DesignConfiguration")">@Html.ActionLink("Design Configuration", "DesignConfiguration", "BigCommerce")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-messages">
            <p id="successBox" style="display:none" class="bg-success">Product XYZ has been updated.</p>
            <p id="failBox" style="display:none" class="bg-danger">During product save error has occured.</p>
        </div>
        @RenderBody()

    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">BigCommerce Artifi Connector.</p>
        </div>
    </footer>

</body>
</html>