html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height + optional margin */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}
.carousel {
    border: 1px solid #eee;
}
.carousel .carousel-control {
    background-image: none;
    width: 10%;
    color: #000;
    text-shadow: none;
}
.carousel .carousel-indicators li {
    border: 1px solid #000;
    border-radius: 0;
}
.carousel-inner > .item {
    height: 500px;
}
.carousel-inner > .item > .carousel-caption {
    color: #000;
    text-shadow: none;
    top: 20px;
}
.carousel-inner > .item > .carousel-caption pre {
    text-align: left;
    word-wrap: break-word;
}
.progress-container {
    margin-top: 20px;
}
body > .container form:not([class=form-inline]) button[type=submit] {
    margin-top: 20px;
}
body > .container > .page-messages p {
    padding: 15px;
}
.search-products {
    float: left;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.search-products input[type=text] {
    width: 100%;
}
.search-products .form-group {
    min-width: 300px;
}